<div class="container">
  <div class="row">
    <div class="col-md-12 mt-2 mb-2">

    </div>
      <div class="col-md-12">
          <button class="btn btn-primary m-2" (click)="year = 2015" [ngClass]="{'selected': year == 2015}">2015</button>
          <button class="btn btn-primary m-2" (click)="year = 2017" [ngClass]="{'selected': year == 2017}">2017</button>
          <button class="btn btn-primary m-2" (click)="year = 2018" [ngClass]="{'selected': year == 2018}">2018</button>
          <button class="btn btn-primary m-2" (click)="year = 0" [ngClass]="{'selected': year == 0}">Mind</button>
      </div>


    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="modalSrc" alt="" style="width: 100%">
      </div>
    </ng-template>

    <p><a href="/assets">Minden fájl listázása: </a></p>

    <ng-container *ngFor="let lelet of leletek | ambulanceYear: 'asc' | yearP:year">

      <div class="col-md-12">

        <h6>{{ lelet.medicine}}</h6>
        <p>{{ lelet.complaint }} <br> - <br> {{lelet.status}}</p>
        <small>{{lelet.date }} </small>
        <p *ngIf="lelet?.docs.length > 0">
          doksik:
          <ng-container *ngFor="let doc of lelet.docs">
            <div>

              <button (click)="modalSrc = 'assets/' + doc; openModal(template)"  >Felugró</button>
              <a class="btn btn-sm btn-primary m-1" href="assets/{{ doc}}" target="_blank" > Új ablak - {{ doc}}</a> &nbsp;
            </div>
          </ng-container>

        </p>
        <hr>
      </div>

    </ng-container>
  </div>

</div>